main {
    background-color: #F7EFE2;
}

#background {
    display: flex;
    justify-content: center;
    width: 1440px;
    background-color: #37280D;
    padding-left: 80px;
    padding-right: 80px;
}

#content-container {
    width: 100%;
}

#image {
    border-radius: 2px;
    background-color: #BFC9A9;
    max-height:600px;
    padding: 40px;
    margin-left: 25px;
    max-width: 500px;
}

    #image img {
        border-radius: 2px;
    }

#contact  {
    border-radius: 2px;
    background-color: #c5b8a1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

#wrapper {
    background-color: #F7EFE2;
    padding: 25px;
}

#hero {
    background-color: #F8FFEA;
    padding: 40px;
    display: flex;
}



h1 {
    margin-bottom: 25px;
}

#hero .material-symbols-outlined {
    font-size: 2rem;
}

#employment-status {
    font-size: 2rem;
    color: #047b11;
}