html, body {
     height: 100%
}

body {
  display: flex;
  flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    flex: 1; 
    background-color: #F7EFE2;
}

#background {
    display: flex;
    justify-content: center;
    width: 1440px;
    align-items: stretch;
    padding-left: 80px;
    background-color: #37280D;
}

#img-container {
    margin-left: 80px;
    margin-right: 80px;
    background-color: #F7EFE2;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image {
    border-radius: 2px;
    padding: 40px;
    background-color: #BFC9A9;
}

#contact  {
    border-radius: 2px;
    background-color: #c5b8a1;
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-wrapper {
    background-color: #F7EFE2;
    padding: 25px;
}

#hero {
    background-color: #F8FFEA;
    padding: 40px;
}

h1 {
    margin-bottom: 25px;
}

#hero .material-symbols-outlined {
    font-size: 2rem;
}

#employment-status {
    font-size: 2rem;
    color: #047b11;
}