h1 {
    margin-bottom: 20px;
}

#skills-explanation .flex .material-symbols-outlined {
    margin-bottom: 20px;
}

h2, h3 {
    margin-top: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.flex {
    align-items: center;
}

#background {
    display: flex;
    justify-content: center;
    max-width: 1440px;
}

#main-container {
    margin-left: 80px;
    margin-right: 80px;
    background-color: #F7EFE2;
    /* width: 1024px; */
    gap: 25px;
}

#skills {
    border-radius: 2px;
}

#skills-wrapper {
    padding: 20px;
    padding-top: 0px;
}

#skills-explanation {
    background-color: #F8FFEA;
    padding: 40px;
}

.stage1, .stage2, .stage3, .stage4 {
    padding: 4px;
}

.loading-bar {
    font-size: 1.2rem;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #BFC9A9;
    border-bottom: 1px solid #37280D;
}


    .loading-bar .flex {
        margin-bottom: 2px;
    }

    .loading-bar img {
        max-height: 15px;
    }

    .loading-bar p {
        margin-top: 5px;
        font-size: 1rem;
    }

    section .loading-bar:first-of-type {
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    section .loading-bar:last-child {
        border-bottom: none;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    #mobile-heading {
        display: none;
    }

@media (min-width: 320px) and (max-width: 480px){
    #background {
        max-width: 480px;
        padding-left: 25px;
        padding-right: 25px;
    }

    #skills-explanation .flex .gap5 {
        display: none;
    }

    #mobile-heading {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #mobile-heading .material-symbols-outlined {
        margin-right: 5px;
    }

    #heading {
        display:none;
    }

    h3 {
        font-size: 1.4rem;
    }

    #skills-explanation ul {
        gap: 10px;
    }

    section .gap5 {
        justify-content: center;
    }

    .loading-bar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.1rem;
    }

    .loading-bar .flex:first-child {
        flex-direction:column;
    }

    .loading-bar label {
        font-weight: 600;
    }

    #main-container {
        margin-left: 0;
        margin-right: 0;
    }
}


@media (min-width: 481px) and (max-width: 768px){
    #background {
        max-width: 768px;
        padding-left: 25px;
        padding-right: 25px;
    }

    #main-container {
        margin-left: 0;
        margin-right: 0;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    #background {
        max-width: 1024px;
    }

}
